@charset "ISO-8859-1";

body{
	
}
/*
.bienvenue{
	width : 100% ;
	height:6rem;
	margin-bottom:20px;
	margin-top:0; 
	color:#d4d6d3;
	
	background: rgb(0,92,12);
	background: linear-gradient(144deg, rgba(0,92,12,1) 0%, rgba(133,238,162,1) 100%); 
}
*/
.card-pdt{
	cursor: pointer;
	height:30rem
	
}

.card-pdt:hover{
	
	transform:scale(1.06);
	border: ridge 1.5px;
	transition: all 0.3s ease;
}

a:link{
	
	text-decoration: none;
}