<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>07_project_groupe5_ECommerce</display-name>
  
  
  <!-- ============================================== -->
  <!-- ======= Config : MODE DE DEV ================= -->
  <!-- ============================================== -->
  <!-- 
  		> valeurs possibles:
  				- Development : en mode dev affichage des messages d'erreurs dans le nav
  				- Production : en mode prod  
  				- UnitTest : en mode test unitaire
  				- SystemTest : autres tests
   -->
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>  
  
  <!-- ============================================================ -->
  <!-- ================ XHTML ===================================== -->
  <!-- ============================================================ -->
  <welcome-file-list>
    <welcome-file>accueil-gab.xhtml</welcome-file>
  </welcome-file-list>
  
  <!-- ============================================================ -->
  <!-- ================ Servlet =================================== -->
  <!-- ============================================================ -->  
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>
  

   <!-- ============================================================ -->
  <!-- ================ Gestion extensions des photos ============== -->
  <!-- ============================================================ --> 

	<mime-mapping>
        <extension>jpg</extension>
        <mime-type>resources/images</mime-type>
    </mime-mapping>
    
    <mime-mapping>
        <extension>gif</extension>
        <mime-type>resources/images</mime-type>
    </mime-mapping>
    
    <context-param>
  	<param-name>file-upload</param-name>
  	<param-value>resources/images/</param-value>
  	</context-param>
   
   
   
   <!-- ============================================================ -->
  <!-- ================ Filtres =================================== -->
  <!-- ============================================================ -->  
	<filter>
	       <filter-name>AccesClientFilter</filter-name>
	       <filter-class>com.intiformation.ECommerce.filtre.AccesClientFilter</filter-class>
	</filter>
	
	<filter-mapping>
	       <filter-name>AccesClientFilter</filter-name>
	       <url-pattern>/acces_client/*</url-pattern>
	</filter-mapping>
	
	<filter>
	       <filter-name>AccesAdminFilter</filter-name>
	       <filter-class>com.intiformation.ECommerce.filtre.AccesAdminFilter</filter-class>
	</filter>
	
	<filter-mapping>
	       <filter-name>AccesAdminFilter</filter-name>
	       <url-pattern>/acces_admin/*</url-pattern>
	</filter-mapping>   
    
  
</web-app> 




